.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 44px;
  font-weight: 700;
  border-radius: 22px;
  border: transparent;
  cursor: pointer;
  color: var(--title-color);
  background-color: var(--background-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--title-color);
    background-color: var(--first-tipe-button-hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.25;
  }

  &__icon {
    width: 4px;
    height: 8px;
    fill: currentColor;

    @media screen and (min-width: 768px) {
      margin-left: 14px;
    }
  }

  &__modal {
    width: 209px;
    font-size: 16px;
    line-height: 1.31;

    @media screen and (min-width: 768px) {
      width: 186px;
    }
  }

  &__icon-modal {
    width: 6px;
    margin-left: 16px;
  }

  &__about {
    width: 176px;
    font-size: 14px;
    line-height: 1.28;
  }

  &__locations {
    width: 162px;
    font-size: 16px;
    line-height: 1.25;
    color: var(--background-color);
    background-color: var(--accent-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--alt-text-color);
      background-color: var(--second-tipe-button-hover-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    @media screen and (min-width: 768px) {
      width: 192px;
    }
    @media screen and (min-width: 1280px) {
      width: 198px;
    }
  }

  &__franchise {
    width: 162px;
    font-size: 16px;
    line-height: 1.25;
    @media screen and (min-width: 768px) {
      width: 174px;
    }
    @media screen and (min-width: 1280px) {
      width: 180px;
    }
  }

  &__icon-franchise {
    margin-left: 14px;
  }

  &__icon-locations {
    margin-left: 8px;
  }

  &__header {
    width: 160px;
  }

  &__icon-header {
    margin-left: 12px;
  }

  &__order {
    color: var(--title-color);
    background-color: var(--background-color);
    width: 122px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--alt-text-color);
      background-color: var(--second-tipe-button-hover-color);
    }
  }
}

.small-button {
  height: 24px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  border-radius: 20px;
  border: transparent;
  cursor: pointer;

  &__red {
    width: 62px;
    color: var(--background-color);
    background-color: var(--title-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--alt-text-color);
      background-color: var(--second-tipe-button-hover-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    @media screen and (min-width: 1280px) {
      width: 104px;
      height: 40px;
      font-size: 14px;
      line-height: 1.28;
    }
  }

  &__white {
    width: 82px;
    color: var(--title-color);
    background-color: var(--background-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--title-color);
      background-color: var(--first-tipe-button-hover-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    @media screen and (min-width: 1280px) {
      width: 138px;
      height: 40px;
      font-size: 14px;
      line-height: 1.28;
    }
  }
}
