html {
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  color: var(--first-text-color);
  font-family: var(--main-font);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  outline: 1px solid orange;
}

.title {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--title-color);

  @media screen and (max-width: 768px) {
    font-size: 48px;
  }

  @media screen and (max-width: 1280px) {
    font-size: 58px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
