:root {
  --first-text-color: #000000;
  --second-text-color: #907e82;
  --title-color: #d41443;
  --subtitle-color: #ffa5ba;
  --accent-color: #d41443;
  --alt-title-color: #ffffff;
  --alt-text-color: #ffffff;
  --transp-text-color: ;

  --background-color: #ffffff;
  --second-background-color: #fff5f6;
  --hero-background-color: #ffb8ca;

  --main-font: 'DM Sans', sans-serif;
  --accent-font: 'Titan One', sans-serif;
}
