<section class="section contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__item">
        <h3 class="contacts__item-title">CAFE</h3>
        <ul>
          <li>
            <h4>Chicago</h4>
            <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
          <li>
            <p>Monday - Friday</p>
            <p>06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p>Saturday - Sunday</p>
            <p>08:00 AM - 16:00 PM</p>
          </li>
          <li>
            <a href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <h3 class="contacts__item-title">FOODTRUCK</h3>
        <ul>
          <li>
            <h4>Los Angeles</h4>
            <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
          <li>
            <p>Monday - Friday</p>
            <p>06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p>Saturday - Sunday</p>
            <p>08:00 AM - 16:00 PM</p>
          </li>
          <li>
            <a href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <h3 class="contacts__item-title">CAFE</h3>
        <ul>
          <li>
            <h4>New York</h4>
            <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
          <li>
            <p>Monday - Friday</p>
            <p>06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p>Saturday - Sunday</p>
            <p>08:00 AM - 16:00 PM</p>
          </li>
          <li>
            <a href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
    <button type="button">Our Locations</button>
    <!-- <svg width="4px" height="8px">
      <use href="../image/svg/sprite.svg#icon-vector1"></use>
    </svg> -->
    <button type="button">Franchise</button>
    <!-- <svg width="4px" height="8px">
      <use href="../image/svg/sprite.svg#icon-vector1"></use>
    </svg> -->
  </div>
</section>
