<section class="section customer-reviews">
  <div class="container">
    <h2 class="title customer-reviews__title visually-hidden">Customer reviews</h2>
    <ul class="list customer-reviews__list">
      <li class="customer-reviews__item">
        <picture>
          <source
            srcset="
          image/customerreviews/desktop/testimonials1.png 1x
          image/customerreviews/desktop/testimonials1-2x.png 2x
          "
            media="(min-width:320px)"
            type="image/jpeg/png"
          />
          <img
            src="./image/customerreviews/mobile/testimonials1.png"
            class="customer-reviews__img"
            width="85"
            alt="girl"
          />
        </picture>
        <div class="customer-reviews--positioning">
          <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="customer-reviews__info">Emily, Los Angeles</p>
      </li>
      <li class="customer-reviews__item">
        <picture>
          <source
            srcset="
          image/customerreviews/desktop/testimonials2.png 1x
          image/customerreviews/desktop/testimonials2-2x.png 2x
          "
            media="(min-width:320px)"
            type="image/jpeg/png"
          />
          <img
            src="./image/customerreviews/desktop/testimonials2.png"
            class="customer-reviews__img"
            width="85"
            alt="girl"
          />
        </picture>
        <div class="customer-reviews--positioning">
          <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="customer-reviews__info">Emily, Los Angeles</p>
      </li>
      <li class="customer-reviews__item">
        <picture>
          <source
            srcset="
          image/customerreviews/desktop/testimonials3.png 1x
          image/customerreviews/desktop/testimonials3-2x.png 2x
          "
            media="(min-width:320px)"
            type="image/jpeg/png"
          />
          <img
            src="./image/customerreviews/desktop/testimonials3.png"
            class="customer-reviews__img"
            width="85"
            alt="girl"
          />
        </picture>
        <div class="customer-reviews--positioning">
          <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="customer-reviews__info">Emily, Los Angeles</p>
      </li>
    </ul>
  </div>
</section>
