<section class="section customer-reviews">
  <div class="container">
    <h2 class="title customer-reviews__title visually-hidden">Customer reviews</h2>
    <ul class="list customer-reviews__list">
      <li class="customer-reviews__item">
        <picture>
          <source srcset="" media="(min-width:1280px)" type="image/jpeg" />
          <source srcset="" media="(min-width:768px)" type="image/jpeg" />
          <source srcset="" media="(max-width:767px)" type="image/jpeg" />
          <img
            src="./image/customerreviews/mobile/testimonials1.png"
            class="customer-reviews__img"
            width="85"
            alt="girl"
          />
        </picture>
        <p class="customer-reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <p class="customer-reviews__info">Emily, Los Angeles</p>
      </li>
      <li class="customer-reviews__item">
        <picture>
          <source srcset="" media="(min-width:1280px)" type="image/jpeg" />
          <source srcset="" media="(min-width:768px)" type="image/jpeg" />
          <source srcset="" media="(max-width:767px)" type="image/jpeg" />
          <img
            src="./image/customerreviews/desktop/testimonials2.png"
            class="customer-reviews__img"
            width="85"
            alt="girl"
          />
        </picture>
        <p class="customer-reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <p class="customer-reviews__info">Emily, Los Angeles</p>
      </li>
      <li class="customer-reviews__item">
        <picture>
          <source srcset="" media="(min-width:1280px)" type="image/jpeg" />
          <source srcset="" media="(min-width:768px)" type="image/jpeg" />
          <source srcset="" media="(max-width:767px)" type="image/jpeg" />
          <img
            src="./image/customerreviews/desktop/testimonials3.png"
            class="customer-reviews__img"
            width="85"
            alt="girl"
          />
        </picture>
        <p class="customer-reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <p class="customer-reviews__info">Emily, Los Angeles</p>
      </li>
    </ul>
  </div>
</section>
