<section class="gallery">
    <div class="container">
        <picture>
            <source srcset="./image/gallery/desktop/homepic51.jpg 1x, ./image/gallery/desktop/homepic51@2x.jpg 2x" 
                media="(min-width: 1200px)" 
                type="image/jpeg" />
            <source srcset="./image/gallery/tablet/homepic51.jpg 1x, ./image/gallery/tablet/homepic51@2x.jpg 2x" 
                media="(min-width: 768px)" 
                type="image/jpeg" />
            <source srcset="./image/gallery/mobile/homepic51.jpg 1x, ./image/gallery/mobile/homepic51@2x.jpg 2x" 
                media="(max-width: 767px)" 
                type="image/jpeg" />
            <img src="./image/gallery/mobile/homepic51.jpg" class="gallery_image" alt="" width="364" height="122">
        </picture>
    </div>
</section>