<header class="header section header__section" id="header">
  <section class="container header__container">
  <nav class="header__nav">
      <div class="header__logo--wrapper">
    <a class="header__logo" href="#header"><img class="header__logo--icon" src="./image/heroheader/mobile/logo1.png" alt="company logo ice cream"></a>
  </div>
    <ul class="header__list list">
      <li class="header__list--item"><a class="header__list--link header__list--link--current link current" href="#header">Home</a></li>
      <li class="header__list--item"><a class="header__list--link link" href="#about">About us</a></li>
      <li class="header__list--item"><a class="header__list--link link" href="#about">How it's made?</a></li>
      <li class="header__list--item"><a class="header__list--link link" href="#products">Our products</a></li>
      <li class="header__list--item"><a class="header__list--link link" href="#footer">Contacts</a></li>
    </ul>
  </nav>
  <div>
    <button type="button" class="header__button button">
      <span class="header__button--span">Buy now<svg class="header__button-arrow" width="6" height="10">
          <use href="./image/svg/vector1.svg"/>
      </svg>
      </span>
    </button>
</div> 

  <div>
    <button class="nav-open"><svg width="24" height="16" class="icon-burger">
        <use href=""></use></svg></button>
    </div>
   

<div class="menu-container" id="menu-container" data-menu>
<button class="menu-container__button button">Buy now</button>

<ul class="menu-container__list list">
  <li class="menu-container__item"><a class="menu-container__link  menu-container__link--current link" href="">Home</a></li>
  <li class="menu-container__item"><a class="menu-container__link link" href="">About us</a></li>
  <li class="menu-container__item"><a class="menu-container__link link" href="">How it's made?</a></li>
  <li class="menu-container__item"><a class="menu-container__link link" href="">Our products</a></li>
  <li class="menu-container__item"><a class="menu-container__link link" href="">Contact</a></li>
</ul>
</div>
</div>

<button data-menu-button aria-expanded="false" type="button" class="menu__button" aria-controls="menu-container">
  <svg aria-label="Переключатель мобильного меню">
      <use class="icon-menu" width="20" height="12" href="./image/svg/burger.svg"></use>
      <use class="icon-close" width="14" height="14" href="./image/svg/close.svg"></use>
  </svg>
</button>
</section>
</header>




