<header class="header section header__section">
  <div class="container header__container">
  <nav class="header__nav">
      <div class="header__logo--wrapper">
    <a class="header__logo"><img class="header__logo--icon" src="./image/heroheader/mobile/logo1.png" alt=""></a>
  </div>
    <ul class="header__list list">
      <li class="header__list--item"><a class="header__list--link header__list--link--current link current" href="">Home</a></li>
      <li class="header__list--item"><a class="header__list--link link" href="">About us</a></li>
      <li class="header__list--item"><a class="header__list--link link" href="">How it's made?</a></li>
      <li class="header__list--item"><a class="header__list--link link" href="">Our products</a></li>
      <li class="header__list--item"><a class="header__list--link link" href="">Contacts</a></li>
    </ul>
  </nav>

  <div>
    <button class="nav-open"><svg width="24" height="16" class="icon-burger">
        <use href=""></use></svg></button>
    </div>
  <div>
      <button type="button" class="header__button"><svg width="4" height="8" class="hero-header__button--icon">
        <use href=""></use></svg>Buy now</button>
  </div>   

<div class="mobile-nav visually-hidden">
<div class="container mobile-nav__container">
<button class="nav-close"><svg width="25" height="25" class="icon-close">
  <use href=""></use></svg></button>

  <div>
      <button type="button" class="header__button"><svg width="4" height="8" class="header__button--icon">
        <use href=""></use></svg>Buy now</button>
  </div>

<ul class="mobile-nav__list list">
  <li class="mobile-nav__item"><a class="mobile-nav__link  mobile-nav__link--accent link" href="">Home</a></li>
  <li class="mobile-nav__item"><a class="mobile-nav__link link" href="">About us</a></li>
  <li class="mobile-nav__item"><a class="mobile-nav__link link" href="">How it's made?</a></li>
  <li class="mobile-nav__item"><a class="mobile-nav__link link" href="">Our products</a></li>
  <li class="mobile-nav__item"><a class="mobile-nav__link link" href="">Contact</a></li>
</ul>
</div>
</div>
</div>
</header>

<section class="section hero__section">
<div class="container hero__container">

<div class="hero__wrapper--right">
<div class="hero__title--wrapper">
<h1 class="hero__title">ice cream made with <span class="hero__title--accent">passion</span></h1>
<button type="button" class="hero__title--left--btn">Products</button>
<button type="button" class="hero__title--right--btn">How it's made?</button>
</div>

<div class="hero__text--wrapper visually-hidden">
<p class="hero__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, eius.</p>
<a href="" class="hero__text--button"><svg width="26" height="26" class="hero__text--icon">
  <use href=""></use></svg></a>
<img class="hero__text--image" src="" alt="a glass bottle with milk">
</div>
</div>

<div class="hero__wrapper--central">
<img class="hero__icecream" src="" alt="an ice cream cone">
<img class="hero__ellipce" src="./image/heroheader/mobile/ellipse3.png" alt="">
</div>

<div class="hero__wrapper--left">
<div class="hero__digits--wrapper visually-hidden">
<p class="hero__digits--text"><span class="hero__digits--text--red">16</span> cafes</p>
<p class="hero__digits--text"><span class="hero-header__digits--text--red">23</span> food trucks</p>
<span class="hero__digits--circle"></span>
<span class="hero__digits--circle"></span>
</div>
<div class="hero__tasty--wrapper">
<span class="hero__tasty--span"></span>
</div>
</div>
</div>
</section>

