<section class="section hero__section">
    <div class="container hero__container">
    
    <div class="hero__wrapper--right">
    <div class="hero__title--wrapper">
    <h1 class="hero__title">ice cream made with <span class="hero__title--accent">passion</span></h1>
    <button type="button" class="hero__title--left--btn">Products</button>
    <button type="button" class="hero__title--right--btn">How it's made?</button>
    </div>
    
    <div class="hero__text--wrapper visually-hidden">
    <p class="hero__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, eius.</p>
    <a href="" class="hero__text--button"><svg width="26" height="26" class="hero__text--icon">
      <use href=""></use></svg></a>
    <img class="hero__text--image" src="" alt="a glass bottle with milk">
    </div>
    </div>
    
    <div class="hero__wrapper--central">
    <img class="hero__icecream" src="" alt="an ice cream cone">
    <img class="hero__ellipce" src="./image/heroheader/mobile/ellipse3.png" alt="">
    </div>
    
    <div class="hero__wrapper--left">
    <div class="hero__digits--wrapper visually-hidden">
    <p class="hero__digits--text"><span class="hero__digits--text--red">16</span> cafes</p>
    <p class="hero__digits--text"><span class="hero-header__digits--text--red">23</span> food trucks</p>
    <span class="hero__digits--circle"></span>
    <span class="hero__digits--circle"></span>
    </div>
    <div class="hero__tasty--wrapper">
    <span class="hero__tasty--span"></span>
    </div>
    </div>
    </div>
    </section>
    
    