<section class="section hero__section">
  <div class="container hero__container">
    <div class="hero__wrapper--left">
      <div class="hero__title--wrapper">
        <h1 class="hero__title animate__animated animate__backInLeft">
          ice cream made with <span class="hero__title--accent">passion</span>
        </h1>
        <div class="hero__buttons">
        <button type="button" class="hero__title--left--btn">Products</button>
        <button type="button" class="hero__title--right--btn">How it's made?</button>
      </div>
      </div>

      <div class="hero__text--wrapper">
        <img class="hero__text--image" src="./image/heroheader/tablet/slider-pic5.png" alt="a glass bottle with milk" />
        <div class="hero__text--content">
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </p>
        <a href="" class="hero__text--button"
          ><img class="" src="./image/heroheader/tablet/arrow-right.png" alt="arrow right" /></a>
      </div>
    </div>
    </div>

    <div class="hero__wrapper--central">

      <picture> 
      <source srcset="./image/heroheader/desktop/slider-pic7.png 1x" media="(min-width:1280px)">              
        
      <source srcset="./image/heroheader/tablet/slider-pic7.png 1x" media="(min-width:768px)">              
     
      <source srcset="./image/heroheader/mobile/slider-pic7.png 1x" media="(min-width:320px)">              
      <img class="hero__icecream animate__animated  animate__tada" src="./image/heroheader/mobile/slider-pic7.png" alt="an ice cream cone" aria-label="an ice cream cone">
     
    </picture>

      <img class="hero__ellipse" src="./image/heroheader/mobile/ellipse3.png" alt="pink ellipse"/>

      <picture>  
        <source srcset="./image/heroheader/desktop/ellipse3.png 1x" media="(min-width:1280px)">              
        
        <source srcset="./image/heroheader/tablet/ellipse3.png 1x" media="(min-width:768px)">              
        <img class="hero__ellipse--full" src="./image/heroheader/tablet/ellipse3.png" alt="pink ellipse" aria-label="">
  
      </picture> 
    </div>

    <div class="hero__wrapper--right">
      <div class="hero__digits--wrapper">
        <p class="hero__digits--text"><span class="hero__digits--text--red">16</span> cafes<span class="hero__digits--circle"></span></p>
        <p class="hero__digits--text">
          <span class="hero__digits--text--red">23</span> food trucks<span class="hero__digits--circle"></span>
        </p>
      </div>
      </div>
    <div class="hero__tasty--wrapper"></div>
  </div>
</section>
