<div class="backdrop is-hidden" data-order data-ordermobile>
  <div class="order">
    <button class="button-close" data-order-close>
      <svg class="button-close__icon">
        <use href="./image/svg/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <form class="order-form">
      <b class="order-form__title title">Enter your details, we'll call you back</b>
      <div class="order-form__field">
        <input class="order-form__input" type="text" name="name" id="name" />
        <label for="name" class="order-form__label">Name</label>
      </div>

      <div class="order-form__field">
        <input class="order-form__input" type="tel" name="tel" id="tel" />
        <label for="tel" class="order-form__label">Phone number</label>
      </div>

      <div class="order-form__field">
        <input class="order-form__input" type="email" name="email" id="mail" />
        <label for="mail" class="order-form__label">E-mail</label>
      </div>

      <div class="order-form__field">
        <textarea
          name="comment"
          id="comment"
          placeholder="Введіть текст"
          class="order-form__textarea"
        ></textarea>
        <label for="comment" class="order-form__label">Коментар</label>
      </div>

      <button type="submit" class="button button__order">Send</button>
    </form>
  </div>
</div>
