<section class="products section">
<div class="container">
<span class="products__subtitle">100% natural</span>
<h2 class="products__title">products</h2>
<ul class="products__list list">

    <li class="products__item">
        <h3 class="products__item-title">ice cream</h3>
        <p class="products__item-discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
        <a href="" class="products__see-more"></a>
    </li>


        <li class="products__item">
            <h3 class="products__item-title">ice coffee</h3>
            <p class="products__item-discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
            <a href="" class="products__see-more"></a>
        </li>
    
 
        <li class="products__item">
                <h3 class="products__item-title">milkshakes</h3>
                <p class="products__item-discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                <a href="" class="products__see-more"></a>
        </li>

</ul>
</div>
</section>