<section class="products section">
<div class="container">
<span class="products__subtitle">100% natural</span>
<h2 class="products__title">products</h2>
<ul class="products__list list">

    <li class="products__item">
        <picture class="products__img">
            <source srcset="./image/products/desktop/home-pic1.png 1x, ./image/products/desktop/home-pic1@2x.png 2x"
            media="(min-width: 1200px)"
            type="image/png" />
            <source srcset="./image/products/tablet/home-pic1.png 1x, ./image/products/tablet/home-pic1@2x.png 2x"
            media="(min-width: 768px)"
            type="image/png" />
            <source srcset="./image/products/mobile/home-pic1.png 1x, ./image/products/mobile/home-pic1@2x.png 2x"
            media="(max-width: 480px)"
            type="image/png" />
            <img src="./image/products/mobile/home-pic1.png" alt="фото товара" width="460" height="450"> 
          </picture>
        <h3 class="products__item-title">ice cream</h3>
       <svg class="products__dots">
           <use></use>
       </svg>
        <p class="products__item-discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <a href="" class="products__see-more"></a>
    </li>


        <li class="products__item">
            <h3 class="products__item-title">ice coffee</h3>
            <p class="products__item-discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <a href="" class="products__see-more"></a>
        </li>
    
 
            <li class="products__item">
                <h3 class="products__item-title">milkshakes</h3>
                <p class="products__item-discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <a href="" class="products__see-more"></a>
            </li>

</ul>
</div>
</section>