.gallery {
    background: var(--second-background-color);
    margin-bottom: 80px;
    @media  screen and (min-width: 768px) {
        margin-bottom: 120px;
    }
}

.gallery_image {
    margin: 0 auto;
    min-width: 364px;
    height: 100%;
    @media  screen and (min-width: 768px) {
        min-width: 786px;
    }
    @media  screen and (min-width: 1280px) {
       min-width: 1280px;
    }
}