.gallery {
    height: 202px;
    @media  screen and (min-width: 768px) {
        height: 384px;
    }
    @media  screen and (min-width: 1280px) {
        height: 550px;
    }
    background-image: linear-gradient (to bottom, var(--second-background-color) 20%, var (--background-color) 20%);
    padding-bottom: 80px;
    @media  screen and (min-width: 768px) {
        padding-bottom: 120px;
    }
}

.gallery_image {
    margin: 0 auto;
    width: 364px;
    height: 100%;
    @media  screen and (min-width: 768px) {
        width: 786px;
    }
    @media  screen and (min-width: 1280px) {
       width: 1280px;
    }
}