.gallery {
    background-image: linear-gradient(
        #fff5f6 42px,
        #ffffff 42px
        ); 
        @media  screen and (min-width: 350px) {
            background-image: linear-gradient(
                    #fff5f6 50px,
                    #ffffff 50px
                    );    
        }
        @media  screen and (min-width: 400px) {
            background-image: linear-gradient(
                    #fff5f6 55px,
                    #ffffff 55px
                    );    
        }
    @media  screen and (min-width: 768px) {
        background-image: linear-gradient(
                #fff5f6 95px,
                #ffffff 95px
                );    
    }
    @media  screen and (min-width: 1280px) {
        background-image: linear-gradient(
                #fff5f6 141px,
                #ffffff 141px
                ); 
    }
    padding-bottom: 80px;
    @media  screen and (min-width: 768px) {
        padding-bottom: 120px;
        align-items: center;
    }
}

.gallery_image {
    margin: 0 auto;
    width: 364px;
    height: 100%;
    @media  screen and (min-width: 768px) {
        width: 786px;
    }
    @media  screen and (min-width: 1280px) {
       width: 1280px;
    }
}