.header {
  position: relative;
  width: 100vw;
  padding-top: 6px;
  background-color: transparent;


  @media screen and (min-width: 768px){
    padding-bottom: 15px;
    padding-top: 37px;

    .header__button {
      margin-left: 250px;
    }

    .container {
      display: flex;
      justify-content: space-between;
    }
  }

@media screen and (min-width: 1280px) {
  padding-bottom: 84px;
  padding-top: 37px;

  .header__button {
    margin-right: 0;
    margin-left: 0;
  }

.container {
  display: flex;
  justify-content: space-between;
}
}








.hero__container {
  background-color: var(--hero-background-color);
  position: relative;
}


.hero__ellipce {
//   position: absolute;
//   // top: 0px;
  bottom: 0px;
  left: 210px;
  z-index: 0;
}

.hero__title {
//   position: absolute;
//   z-index: 1;
  color: var(--alt-title-color);
  font-family: var(--accent-font);
  font-style: 400;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  width: 218px;
}

.hero__title--accent {
  color: var(--title-color);
  font-weight: 700;
}

.hero__title--left--btn {
  width: 62.4px;
  height: 24px;
  background: var(--accent-color);
  border-radius: 20px;
  border: none;
  cursor: pointer;

  color: var(--alt-text-color);
  font-family: var(--main-font);
  font-size: 8px;
  line-height: 1.25em;
  font-style: 400;
  font-weight: 400;
}

.hero__title--right--btn {
  width: 82.8px;
  height: 24px;
  background: var(--background-color);
  border-radius: 20px;
  border: none;
  cursor: pointer;

  font-family: var(--main-font);
  font-size: 8px;
  line-height: 1.25em;
  color: var(--accent-color);
  font-style: 400;
  font-weight: 400;
}

.header__button {
//   position: fixed;
  width: 209px;
  height: 44px;
  left: 21px;
  top: 60px;

  background: aquamarine;
  border-radius: 22px;
  border: none;
  cursor: pointer;
}

}