.products {
  margin-top: 121px;
  margin-bottom: 98px;
  @media screen and (min-width: 768px) {
    margin-top: 122px;
    margin-bottom: 112px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 127px;
    margin-bottom: 119px;
  }
}

.products__subtitle {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  color: var(--subtitle-color);
  font-family: var(--accent-font);
  font-size: 18px;
  line-height: 1.1;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.products__title {
  display: flex;
  margin-bottom: 144px;
  justify-content: center;
  text-align: center;
  color: var(--title-color);
  font-family: var(--accent-font);
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    margin-bottom: 150px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    letter-spacing: 0.06em;
    margin-bottom: 259px;
  }
}

.products__list {
  display: flex;
  flex-wrap: wrap;
}

.products__item {
  flex-basis: 100%;
  width: 100%;
  min-width: 280px;

  &:not(:last-child) {
    margin-bottom: 130px;
  }

  justify-content: center;
  margin-right: auto;
  margin-left: auto;

  position: relative;

  background-color: var(--hero-background-color);
  &:nth-child(2n) {
    background-color: #f0d1a5;
  }
  &:last-child {
    background-color: #c2e297;
  }
  padding-top: 161px;
  padding-bottom: 41px;
  border-radius: 24px;
  @media screen and (min-width: 480px) {
    width: 440px;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 10px * 2) / 3);
    min-width: 220px;
    max-width: 220px;
    margin: 0;
    padding-top: 152px;
    &:not(:last-child) {
      margin-right: 10px;
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 10px * 2) / 3);
    max-width: 329px;
    padding-top: 163px;
    padding-bottom: 50px;
  }
}

.products__img {
  position: absolute;
  bottom: 346px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  width: 249px;
  @media screen and (min-width: 768px) {
    bottom: 363px;
    width: 220px;
  }
  @media screen and (min-width: 1280px) {
    bottom: 400px;
    width: 335px;
  }
}

.products__item-title {
  margin-bottom: 30px;
  text-align: center;
  font-family: var(--accent-font);
  color: var(--alt-title-color);
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.04em;
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 32px;
  }
}
.products__dots {
  margin-bottom: 30px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
  }
}
.products__item-discription {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 30px;

  font-family: var(--main-font);
  width: 200px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.52;
  letter-spacing: 0.04em;

  color: var(--alt-title-color);

  @media screen and (min-width: 768px) {
    line-height: 1.76;
    width: 198px;
    height: 124px;
    margin-bottom: 40px;
    overflow: hidden;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    width: 241px;
    height: 106px;
    margin-bottom: 62px;
    overflow: hidden;
  }
}

.products__see-more {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 40px;
  height: 40px;
  background-image: url(.././image/products/arrow.png);
}
